html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	background-color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6em;
	margin: 0;
	min-height: 100%;
	color: #fff;
}
.wrapper {
	margin: 0 auto;
	background-color: #fff;
	padding: 5px;
}
.wrapper:after {
    content:'';
    display:block;
    clear: both;
}
.metric {
	width: 200px;
	height: 200px;
	margin: 5px;
	display: inline-block;
	float: left;
	border-radius: 4px;
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.3) inset;
	background-color: rgba(0, 3, 56, 0.4);
	overflow: hidden;
	box-sizing: border-box;
	-webkit-transition: width .3s; /* Safari */
    transition: width .3s;
}
.metric.alert {
	 background-color: rgba(82, 0, 0, 0.4);
}
.metric.warn {
	background-color: rgba(98, 82, 0, 0.4);
}
.metric.normal {
	background-color: rgba(16, 82, 0, 0.4);
}
.metric > svg {
	display: inline-block;
	width: 200px;
	height: 200px;
	vertical-align: top;
	cursor: pointer;
}
.metric > p {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	font-size: 14px;
}
#options {
	padding: 10px;
}
#options > p {
	margin: 0;
	width: 180px;
}

@media (min-width: 420px) {
	.wrapper { width: 420px; }
}
@media (min-width: 630px) {
	.wrapper { width: 630px; }
}
@media (min-width: 840px) {
	.wrapper { width: 840px; }
}
@media (min-width: 1050px) {
	.wrapper { width: 1050px; }
}
@media (min-width: 1260px) {
	.wrapper { width: 1260px; }
}
@media (min-width: 1470px) {
	.wrapper { width: 1470px; }
}
@media (min-width: 1680px) {
	.wrapper { width: 1680px; }
}
@media (min-width: 1890px) {
	.wrapper { width: 1890px; }
}